
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.m {
    background-color: deeppink;
    height: 50px;
    color: white;
}

.m marquee {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.b {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*#cd {
    width: 700px;
    position: relative;
    right: 450px;
    bottom: 350px;}
} */

#cd {
    width: 700px; /*800px*/
    position: relative;
    right: 190px;
    bottom: 25px;
    z-index: -1;
}

#tl {
    text-align: center;
    vertical-align: middle;
    line-height: 29px; /*40 or 35px*/
    font-size: 35px; /*40px*/
    color: deeppink;
    text-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 20px white,
    0 0 40px white;
}

#tl img {
    width: 330px;
}

body {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    overflow: hidden;
}

.sliding-background {
    background: url("img/divas.png") repeat-x;
    height: 1080px;
    width: 5760px;
    animation: slide 60s linear infinite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1920px, 0, 0);
    }
}
